---
import Home from "@layouts/Home.astro";
import PageInfo from "@parts/PageInfo.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("article")).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Home>
  <h1 class="title">Articles</h1>
  {
    articles.map(({ id, data: { title, description, published, updated } }) => (
      <article>
        <a href={`/articles/${id}`} class="card big wide stack">
          <span>
            <h1>{title}</h1>
            <PageInfo {published} {updated} />
          </span>
          <p>{description}</p>
        </a>
      </article>
    ))
  }
</Home>
