---
import type { InternalLink } from "$lib";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {
  title?: string;
  previous?: InternalLink | undefined;
  next?: InternalLink | undefined;
}

const { title, previous, next, ...attrs } = Astro.props;
---

<nav {...attrs}>
  {previous ? <a href={previous.url}>&larr;{previous.title}</a> : <span />}
  {title ? <small>{title}</small> : <span />}
  {next ? <a href={next.url}>{next.title}&rarr;</a> : <span />}
</nav>
