---
import type { CollectionEntry } from "astro:content";
import PostMeta from "./PostMeta.astro";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { title, description } = post.data;
const href = `/posts/${post.id}`;
---

<article class="post-card">
  <div class="post-card-content">
    <header>
      <a {href}><h3>{title}</h3></a>
      <PostMeta {post} />
    </header>
    <main>
      <p>{description}</p>
    </main>
  </div>
  <div class="post-card-banner"></div>
</article>

<style is:global>
  .post-card {
    padding: var(--space-comp-2);
    border: 1px solid var(--col-fg-fade-2);
  }
  .post-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-comp-2);
  }
</style>
