---
import Page from "$layout/Page.astro";
import PostList from "$part/PostList.astro";
import { getCollection } from "astro:content";
import { filterPostsByTag, getViewablePosts, sortPostsByPublished } from "src/content.lib";

export async function getStaticPaths() {
  const tags = await getCollection("tag");
  return tags.map((tag) => ({
    params: { id: tag.id },
    props: { tag },
  }));
}

const { tag } = Astro.props;
const { description } = tag.data;

const posts = (await getViewablePosts()).filter(filterPostsByTag(tag));
posts.sort(sortPostsByPublished);
---

<Page
  name={`Tag #${tag.id}`}
  description={`View posts with the #${tag.id} tag from thegatesdev`}
>
  <h2>#{tag.id}</h2>
  {description && <p>{description}</p>}
  {
    posts.length > 0 ? (
      <PostList {posts} />
    ) : (
      <i>No posts found with this tag!</i>
    )
  }
</Page>
