---
import { getCollection, render } from "astro:content";
import Layout from "$layout/Page.astro";
import { pageToLink } from "$lib";
import ChainNavigation from "$mod/ChainNavigation.astro";

export async function getStaticPaths() {
  const pages = await getCollection("page");
  return pages.map((page) => ({
    params: { page: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { title, description, previousRef, nextRef } = page.data;
const { Content } = await render(page);
const previous = previousRef && (await pageToLink(previousRef));
const next = nextRef && (await pageToLink(nextRef));
---

<Layout {title} {description}>
  <h1>{title}</h1>
  <Content />
  <hr />
  <ChainNavigation {title} {previous} {next} />
</Layout>
