---
interface Props {
  started: Date;
  ended: Date | undefined;
  languages: string | undefined;
  framework: string | undefined;
}

const { started, ended, languages, framework } = Astro.props;

let builtText = "Built with ";
if (framework != null) {
  builtText += `${framework}`;
  if (languages != null) builtText += " - ";
}
if (languages != null) builtText += languages;
---

<small class="stack-row gap">
  <slot />
  {(framework || languages) && <span>{builtText}</span>}
  <span>
    Started:
    <time datetime={started.toISOString()}>
      {started.toLocaleDateString()}
    </time>
  </span>
  {
    ended && (
      <span>
        Ended:
        <time datetime={ended.toISOString()}>{ended.toLocaleDateString()}</time>
      </span>
    )
  }
</small>
